MTS/Client/src/MTS/testServer/serverMts.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://testServer.MTS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://testServer.MTS/" name="MtsTestServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://testServer.MTS/" schemaLocation="http://localhost:8080/services/serverMts?xsd=1"/>
</xsd:schema>
</types>
<message name="state">
<part name="parameters" element="tns:state"/>
</message>
<message name="stateResponse">
<part name="parameters" element="tns:stateResponse"/>
</message>
<message name="testMessage">
<part name="parameters" element="tns:testMessage"/>
</message>
<message name="testMessageResponse">
<part name="parameters" element="tns:testMessageResponse"/>
</message>
<message name="sendRecord">
<part name="parameters" element="tns:sendRecord"/>
</message>
<message name="sendRecordResponse">
<part name="parameters" element="tns:sendRecordResponse"/>
</message>
<portType name="MtsTestServer">
<operation name="state">
<input wsam:Action="http://testServer.MTS/MtsTestServer/stateRequest" message="tns:state"/>
<output wsam:Action="http://testServer.MTS/MtsTestServer/stateResponse" message="tns:stateResponse"/>
</operation>
<operation name="testMessage">
<input wsam:Action="http://testServer.MTS/MtsTestServer/testMessageRequest" message="tns:testMessage"/>
<output wsam:Action="http://testServer.MTS/MtsTestServer/testMessageResponse" message="tns:testMessageResponse"/>
</operation>
<operation name="sendRecord">
<input wsam:Action="http://testServer.MTS/MtsTestServer/sendRecordRequest" message="tns:sendRecord"/>
<output wsam:Action="http://testServer.MTS/MtsTestServer/sendRecordResponse" message="tns:sendRecordResponse"/>
</operation>
</portType>
<binding name="MtsTestServerPortBinding" type="tns:MtsTestServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="state">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MtsTestServerService">
<port name="MtsTestServerPort" binding="tns:MtsTestServerPortBinding">
<soap:address location="http://localhost:8080/services/serverMts"/>
</port>
</service>
</definitions>